<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Handlebars Demo</title>
</head>

<body>
  <div class="entry">
    <h1>{{title}}</h1>
    <div class="body">
      {{body}}
      {{#each list}}
      <div class="intro">{{@index}} {{this}}</div>
      {{/each}}

      <hr>

      {{#a list}}
      <div class="intro">{{@index}} {{this}}</div>
      {{/a}}
      {{> partial}}
    </div>
  </div>
</body>

</html>